body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 90px;
  
  margin-top: 0;
  font-family: "Marck Script", cursive;
  color: #66BFBF;
}
h2 {
    color: #66BFBF;
    
    font-size: 40px;
  font-family: "Montserrat", sans-serif;
}
h3 {
    color: #11999E;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  color: #9b6f0f;
  font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #11999E;
}

hr {
    border: dotted #66BFBF 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  margin-bottom: 100px;
}

.middle-container {
}

.bottom-container {
    padding-top: 50px;
    padding-bottom:25px;
    margin-top: 50px;
    background-color: #66BFBF;
}

.prog-languages-skill-row {
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.web-dev-skill-row{
    width:50%;
    margin: 200px auto 200px auto;
    text-align: left;
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}

.computer-img{
    width: 25%;
    float: left;
    margin-right: 30px;  
}

.webdevicon-figure{
    width: 25%;
    float: right;
    
}

.bottom-ruler{
    margin-top: 350px;
}
.contact-me-figure{
    width: 256px;
    height: 256px;
    margin: 50px auto 50px auto;
    
}
.figurecaption{
    word-wrap: break-word;
    text-align: center;
    font-size: 12px;
    height: auto;
    width: 256px;
    
}

.BUTTON_FHC {
    margin-top: 50px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    background-color: #66BFBF;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_FHC:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .linkedin-link{
     color: #11999E;
 }

 .copyright{
     color: #EAF6F6; 
 }